@import "tailwindcss";
//background
.bg-primary{
    background-color: #EAE1D4;
}
.bg-secondary{
    background-color: #B18343;
}
.bg-primary{
    background-color: #0A352D;
}
.bg-dark{
    background-color: #212529;
}


//button
button{
    padding: 10px 20px;
    border-radius: 10px;
    cursor: pointer;
    font-weight: 600;
}
.btn-primary{
    background-color: #0d6efd;
    color: #0a0a0a;
}
.btn-secondary{
    background-color: #6c757d;
    color: #fff;
}
.btn-danger{
    background-color: #dc3545;
    color:#fff;
}
.btn-success{
    background-color: #198754;
    color: #fff;
}
.btn-warning{
    background-color: #ffc107;
    color: #fff;
}
.btn-info{
    background-color: #0dcaf0;
    color: #0a0a0a;
}


//font
.font-playfair{
    font-family: "Playfair Display", serif;
    font-size: 16px;
}
.font-nunito{
    font-family: "Nunito", sans-serif;
    font-size: 16px;
}
